@import url('https://fonts.googleapis.com/css?family=Raleway:200');

@font-face {
	font-family: "Roboto-Thin";
	src: url("https://cdn.rawgit.com/halimb/threejs-projects/1ba18e17/pomodoro/models/Roboto-Thin.ttf");
}

html {
	font-family: 'Raleway', sans-serif;
	background-color: #F9F9F9;
  white-space: nowrap;
}

.container {
	position: absolute;
	left: 0; right: 0;
	top: 0; bottom: 0;
  	margin: auto;
	height: 50vw; 
	width: 75vw;
}

canvas {
	background-color: #F9F9F9;
	height: 50vw; 
	width: 75vw;
	margin-bottom: -10vw;
 	margin-top: -10vh;
  	z-index: -1;
}

.ctrl-panel {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: default;
	font-size: 220%;
	position: relative;
}

.rest-ctrl {
	left: 25%;
}

.work-ctrl {
	left: 75%;
}

.center-pos{
	text-align: center;
	position: absolute;
	-webkit-transform: translate(-50%, 0);
}

.clickable {
  	min-height: 48px;
  	min-width: 48px;
	cursor: pointer;
	font-size: 130%;
}

.num {
	font-family: "Roboto-Thin";
	font-size: 90%
}

.btn {
    position: relative;
    z-index: 2;
    background-color: #F9F9F9;
    border: .2ex solid #000000;
    color: #000000;
    padding: 1ex 1.5ex;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vw;
    margin: 1ex;
    cursor: pointer;
    transition: .4s;
    outline: none;
}

.btn:hover {
	background-color: #000000;
	color: #F9F9F9;
}

#start:hover {
  background-color: #bada55;
  color: black;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 500px) {
	.btn {
		font-size: 3vw;
	}

	.num {
		font-size: 100%;
	}

	.ctrl-panel {
		font-size: 150%;
	}

	canvas {
		height: 67vw;
		width: 100vw;
	}

	.container {
		height: 67vw;
		width: 100vw;
	}
}